/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-family: 'Oswald', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Start your code here: */
html {
	font-size: 62.5%;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	font-size: 2rem;
}

/*-------------- HEADER --------------*/
header {
	background-color: black;
	padding: 1rem 2%;
}

header h1 {
	text-align: right;
	font-size: 2.5rem;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}

header h1 a {
	text-decoration: none;
	color: white;
}


/*-------------- H1, H2, P --------------*/
h1 {font-family: 'Oswald', sans-serif; font-size: 2.5rem; font-weight: 700; text-transform: uppercase;}
h2 {font-family: 'Oswald', sans-serif; font-size: 2rem; font-weight: 500; text-transform: none;}
p {font-family: 'Open Sans', sans-serif; font-size: 1.5rem; line-height: 1.8rem; font-weight: 400;}
h1, p {margin: 1.5rem 0 .5rem 0;}
h2 {margin: 1.5rem 0 .5rem 0;}

/*--------------  BUTTONS -------------- */
main button, footer button {
	padding: 1.5rem 4.5rem;
	margin-top: 2rem;
	background-color: black;
	color: white;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	
}

main button:hover, .offers button:hover, .insurance button:hover, footer button:hover {
	background-color: rgb(209, 101, 0);
	color:white;
	cursor: pointer;
}
.deliveryContainer button {
	font-size: 1.5rem;
}

.offers button, .insurance button {
	background-color: white;
	color:black;
	margin: 15px;
}

.offers button, h2, .insurance button, h2 {
	display: inline-block;
	vertical-align: middle;
}


figure.bikes button, figure.buy button {
	margin-bottom: 5%;
}

footer button {
	background-color: white;
	color:black;
	margin: 15px;
}



/*-------------- MAIN --------------*/
main figure.hero {width: 100%; margin: 0; padding: 0;}
main figure.hero img {width: 100%; margin: 0;}



/*-------------- MAIN DIV BIKE OPTION LINKS --------------*/
main div#links {
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}
main div#links a:hover {
	color: rgb(209, 101, 0);
}

main div#links a:last-child {border-right: none;}


/*-------------- MAIN DIV STREAM & DELIVERY --------------*/
.streamContainer {
	padding-top: 5%;
	padding-bottom: 2%;
}

.streamContainer p {
	max-width: 360px;
}

.streamContainer #description-box{ 
	padding-top: 3%;
	padding-bottom: 3%;
}


.streamContainer #image-box, .deliveryContainer #image-box {
	display: flex;
	align-items: center;
	justify-content: center;
}
.streamContainer #image-box img, .deliveryContainer #image-box img {
	width:100%;
}
.streamContainer #image-box figcaption, .deliveryContainer #image-box figcaption {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 1.3rem;
}



/*-------------- MAIN DIV DELIVERY --------------*/
.deliveryContainer {
	padding-top: 2%;
	padding-bottom: 5%;
}


.deliveryContainer #description-box { 
	padding-top: 3%;
	padding-bottom: 3%;
}


/*------- MAIN DIV OFFERS & INSURANCE -------*/
.offersContainer, .insuranceContainer {
	border: 1px solid black;
	padding: 1% 0;
	contain: content;
	background-color: black;
	color: white;
	text-align: center;
	vertical-align: baseline;
}


/*-------------- MAIN DIV NEW & MERCH --------------*/
.newContainer, .merchContainer {
	padding: .5rem 2%;
}

/* .newContainer h1, .merchContainer h1 {
	line-height: 2rem;
} */

.newContainer p, .merchContainer p {
	max-width: 340px;
}


/*-------------- MAIN DIV BIKES & BUY --------------*/
.bikeContainer, .buyContainer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.bikeContainer figure.bikes, .buyContainer figure.buy {
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
	margin-inline-end: 10px;
}

figure.bikes, figure.buy {
    width: 370px;
    margin: .2rem;
	background-color: white;
}

figure.bikes span, figure.buy span{
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 500;
	
}

figure.bikes img, figure.buy img {
	width: 100%;
	margin-bottom: 3%;
}



/*-------------- FOOTER --------------*/
footer {
	font-size: 1.8rem;
	text-align: center;
	justify-content: center;
	padding: 1rem 2%;
	margin-top: 1.5rem;
	color: white;
	background-color: black;
}

footer .email button, h3 {
	display: inline-block;
	vertical-align: middle;
}

footer .email h2 {
	color: rgb(209, 101, 0);
	font-size: 2.5rem;
}

footer .email h3 {
	color: white;
	font-size: 2rem;
}

footer div#ftOptionContainer {
	/* border: 1px solid red; */
	padding: 0;
	margin: 0;
}

footer #support, footer #about, footer #financing {
	padding: 0 5%;
	display: inline-block;
	grid-template-columns: 8ch auto;
	line-height: 3.5rem;
}

footer #support h3, footer #about h3, footer #financing h3 {
	font-weight: 500;
}


footer #support a, footer #about a, footer #financing a {
	color: white;
	text-decoration: none;
	display: block;
	font-weight: 300;
	margin: 0;
	padding: 0;
}


footer #support a:hover, footer #about a:hover, footer #financing a:hover{
	text-decoration: underline;
}


footer div#links {
	color: white;
	text-align: center;
	text-decoration: none;
}

footer div#links a {
	display: inline-block;
	text-decoration: none;
	color: white;
	padding: 1rem 2%;
	font-weight: 300;
	border-right: 1px solid white;
}

footer div#links a:hover {
	text-decoration: underline;
}

footer div#links a:last-child {border-right: none;}

hr {
	background-color: grey;
	height: 1px;
	border: none;
	margin: 2% 0;
}

footer p {
	padding: .5rem 0;
}



  /*-------------- DESKTOP --------------*/
@media only screen and (min-width: 760px) {

	/* NAVIGATION */
	nav {
		background-color: white;
		text-align: center;
		padding: 0;
		margin: 0;
		list-style-type: none;
		contain: content;
		height: 49px;
	}
	
	nav li {display: inline-block; margin: 0; padding: 0;}
	nav ul {margin: 0; padding: 0;}
	nav li.active a {background-color: black; color: white;}
	
	nav a {
		display: block;
		padding: 1.2rem 2%;
		width: 120px;
		color: black;
		text-align: center;
		text-decoration: none;
		font-size: 2rem;
		font-weight: 400;
		transition: 0.3s;
	}
	nav ul li a:hover {
		background-color: rgb(209, 101, 0);
		color: white;
		font-weight: 500;
		width: 127px;
	}


	/* MAIN DIV LINKS */
	/* BIKE OPTION LINKS */
	main div#links {
		display: block;
		text-align: center;
		font-size: 2rem;
		background-color: rgb(228, 228, 228);
		padding: 1.5rem 2%;
	}
	main div#links a {
		text-decoration: none;
		color: black;
		padding: 0 2%;
		border-right: 1px solid black;
		display: inline-block;
	}

	/* MAIN DIV STREAM */
	.streamContainer, .deliveryContainer {  
		padding: 2%;
		contain: content;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		background-color: rgb(228, 228, 228);
	} 
	
	.deliveryContainer #description-box { 
		padding: 3% 0 3% 35%;
	}

	.deliveryContainer p {
		max-width: 360px;
	}

	.deliveryContainer {
		padding-bottom: 2rem;
	}

}

/*-------------- Tablet --------------*/
@media only screen and (max-width: 760px) 
and (min-width: 501px) {
	nav {
		background-color: white;
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	nav ul {margin: 0; padding: 0;}
	nav li {float: left; width: 50%;}
	nav a {
		display: block;
		padding: 1.2rem 2%;
		background-color: white;
		color: black;
		text-align: center;
		text-decoration: none;
		font-size: 2rem;
		font-weight: 400;
		transition: 0.5s;
	}

	nav li.active a {
		background-color: black; 
		color: white; 
	}

	nav ul li a:hover {
		background-color: rgb(209, 101, 0);
		color: white;
		font-weight: 500;
	}

		/* MAIN DIV LINKS */
	/* BIKE OPTION LINKS */
	main div#links {
		display: block;
		text-align: center;
		font-size: 2rem;
		background-color: rgb(228, 228, 228);
		padding: 1.5rem 2%;
	}
	main div#links a {
		text-decoration: none;
		color: black;
		padding: 0 2%;
		font-weight: 500;
		border-right: 1px solid black;
		display: inline-block;
	}

	/* MAIN DIV STREAM */
	.streamContainer, .deliveryContainer {  
		padding: 2%;
		contain: content;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		background-color: rgb(228, 228, 228);
	} 
	
	.deliveryContainer #description-box { 
		padding: 3% 0 3% 0;
	}


	.deliveryContainer p {
		max-width: 360px;
	}

	.deliveryContainer {
		padding-bottom: 1rem;
	}

	footer #support, footer #about, footer #financing {
		padding: 0 3%;
		contain: content;
		display: inline-block;
		grid-template-columns: auto;
		line-height: 3.5rem;
	}

}




/*-------------- MOBILE --------------*/
  @media only screen and (max-width: 500px) {
	  /* NAVIGATION  */
	nav {
		background-color: white;
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	
	nav ul {margin: 0; padding: 0;}
	nav li {float: left; width: 50%;}
	nav a {
		display: block;
		padding: 1.2rem 2%;
		background-color: white;
		color: black;
		text-align: center;
		text-decoration: none;
		font-size: 2rem;
		font-weight: 400;
		transition: 0.5s;
	}

	nav li.active a {
		background-color: black; 
		color: white; 
	}

	nav ul li a:hover {
		background-color: rgb(209, 101, 0);
		color: white;
		font-weight: 500;
	}

	/* MAIN SECTION */
	/* BIKE OPTION LINKS */
	main div#links {
		display: block;
		text-align: center;
		font-size: 1.8rem;
		background-color: rgb(228, 228, 228);
		padding: 4% 2rem;
	}

	main div#links a {
		text-decoration: none;
		color: black;
		padding: .7rem 3%;
		font-weight: 500;
		border-right: 1px solid black;
		display: inline-block;
	}

	/* MAIN DIV STREAM */
	.streamContainer, .deliveryContainer {  
		padding: 2%;
		contain: content;
		display: inline-block;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		background-color: rgb(228, 228, 228);
	}  
	
	.deliveryContainer p {
		max-width: 360px;
	}

	.deliveryContainer #image-box {
		margin-bottom: 1rem;
	}

	/*-------FOOTER -------*/
	
	footer #support, footer #about, footer #financing {
		padding: 2% 4%;
		contain: content;
		display: block;
		line-height: 3.5rem;
	}

	footer #about h3, footer #financing h3{
		padding-top: .5rem;
	}

	
	footer div#links a {
		padding: 4% 1.5rem;
	}
	
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
  }